.contact-main {
  width: 100%;
}

.reading-container {
  margin-left: 10%;
  margin-right: 10%;
}

.reading-quotes-container {
  /* Set a maximum height for reading-quotes and enable overflow scrolling */
  max-height: 150px; /* Adjust the height as needed */
  overflow-y: auto; /* Add a vertical scrollbar if needed */
  white-space: pre-line; /* Preserve line breaks */
}

.reading-quotes {
  /* Other styles for reading-quotes */
  /* Optionally, you can set a fixed height or max-height for the quotes */
  max-height: 100%; /* Adjust the height as needed */
  overflow-y: auto; /* Add a vertical scrollbar if needed */
}

.contact-heading-div {
  display: flex;
  align-items: flex-start;
}

.address-heading-div {
  display: flex;
  margin-top: 80px;
}

.contact-heading-div > * {
  flex: 1;
}

.address-heading-div > * {
  flex: 1;
}

.contact-heading-img-div {
  align-items: center;
  justify-content: center;
}

.contact-heading-text-div {
  text-align: center;
}

.address-heading-text-div {
  text-align: center;
}

.contact-heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.blog-heading-img-div > * {
  max-width: 100%;
  height: auto;
}

.contact-heading-text {
  font-size: 56px;
  font-weight: 400;
  font-family: "Europa Light";
  line-height: 1.1;
  text-align: center;
  margin-top: 60px;
}

.address-heading-text {
  font-size: 30px;
  font-family: "Europa Light";
  text-align: center;
  margin-bottom: 10px;
}

.contact-header-detail-text {
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Europa Light";
}

.resume-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.address-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

@media (max-width: 1380px) {
  .contact-heading-text {
    font-size: 50px;
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .contact-heading-text {
    font-size: 30px;
    margin-top: 0px;
  }

  .address-heading-text {
    font-size: 20px;
  }

  .address-heading-div {
    flex-direction: column;
    margin-top: 60px;
  }

  .address-heading-text-div {
    margin-top: 40px;
  }

  .contact-heading-div {
    flex-direction: column;
  }

  .contact-header-detail-text {
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
}

.quiz-button {
  @apply bg-black hover:bg-zinc-600 text-white py-2 px-4 rounded-full;
}

.upload-button {
  @apply bg-black hover:bg-zinc-600 text-white py-2 px-4 rounded-full;
}
